@import "tailwindcss";

@theme {
  /* Brand Custom Colors */
  --color-jink-blue: #00A8E8;
  --color-jink-tomato: #FF6347;
  --color-jink-light-gray: #E0E0E0;
  --color-jink-charcoal: #333333;
  --color-jink-slate: #5F5F5F;
  /* Apple Font Stack (SF Pro Display & Text) */
  --font-jink: -apple-system, BlinkMacSystemFont, "SF Pro Display", "SF Pro Text", "Helvetica Neue", Arial, sans-serif;
}

body {
  /* background-color: var(--color-jink-charcoal); */
  color: #5F5F5F;
  font-family: var(--font-jink);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}